<div class="mat-app-background" id="main-content" [ngClass]="themeClass">
    <div class="container-fluid">
        <div class="row justify-content-center min-vh-100">
            <div class="col-12">
                <div class="d-flex flex-column h-100">
                    <div class="row justify-content-center">
                        
                            <div>
                                <app-navbar></app-navbar>
                            </div>
                        
                    </div>
                    <div class="row justify-content-center flex-grow-1" style="margin: 0 1rem 0 1rem;">
                        <div class="text-white">
                            <app-pdf-view></app-pdf-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>