@use '@angular/material' as mat;
section {
    display: table;
    
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

.mat-toolbar{
  border-radius: 5rem;

}
.mat-toolbar-single-row{  
  margin:1rem;
  width:auto;
}

.menu-bars{
  // color: $blue-l;
  font-size: 3rem;
}

@import '~@angular/material/theming';

@mixin nav-theme($theme) {
  $icon-color: map-get($theme, primary,darker);
  $menu-bg: map-get($theme, background, dialog);
    // $accent: map-get($theme, accent,main);
    //background: map-get($theme, background);
    //$background-color: mat-color($background, card);
    
// @include angular-material-theme($theme)
    .fas{
      color: $icon-color;    
    }
    // .mat-menu-content{
    //   background:$red;
    // }

    

  }



    
